SECRET_KEY=altere-esta-chave
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=erp_alto_padrao
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

GOOGLE_DRIVE_SERVICE_ACCOUNT_FILE=credenciais/google-drive.json

TIME_ZONE=America/Sao_Paulo